.social-media {
    padding: 15px;
}

.social-media .github {
    filter: brightness(0) invert(1);
}

.social-media .email {
    filter: brightness(0) invert(1);
}
.editinformation {
    color: white;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
